@import 'nav.scss';
@import 'search.scss';
@import 'media.scss';


*{
    padding: 0;
    margin: 0;
    
}
@font-face{
    font-family: 'cyberFont';
    src: url('../assets/font/CyberfontBlack-jEVvv.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'a_LCDNOVA';
    src:url('../assets/font/LCDNOVA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
    }
body{
    overflow: hidden;
}
.wrapper{
    max-width: 100vw;
    width: 100%;
    height:100vh;
    font-family: 'cyberFont';
    // background-color: #180721;
    background: radial-gradient(#220233, #180721);
    .container{
        width: 100%;
        height: 100%;
        .header{
            width: 100%;
            height: 20vh;
            .header__nav{
                z-index: 22;
                width: 50px;
                height: 50px;
                position: relative;
                top: 15%;
                left: 75%;
                &__btn{
                    span:nth-child(1){
                        transition: 1s!important;
                        position: absolute;
                        top: 13px;
                        left: 8px;
                        display: block;
                        cursor: pointer;
                        background: #fff;
                        width: 35px;
                        height: 3px;
                    }
                    span:nth-child(2){
                        transition: .1s!important;
                        position: absolute;
                        left: 8px;
                        top: 21px;
                        display: block;
                        cursor: pointer;
                        background: #fff;
                        width: 35px;
                        height: 3px;
                    }
                    span:nth-child(3){
                        transition: 1s!important;
                        position: absolute;
                        left: 8px;
                        top: 29px;
                        display: block;
                        cursor: pointer;
                        background: #fff;
                        width: 35px;
                        height: 3px;
                    }
                }
                
            }    
        }
        .page_container{
            width: 100%;
            height: 60vh;
            .site_logo{
                width:100%;
                height: 5vh;
                position: relative;
                top: 10vh;
                #logo_icon{
                    width: 20%;
                    position: relative;
                    left: 40%;
                    top: 2vh;
                }
            }
            .template_result_container{
                position: absolute;
                font-family: sans-serif;
                font-size: 1.8em;
                left: 30%;
                top: 20%;
                display: none;
                overflow: hidden;
                width: 50vw;
                height: 70vh;
                background: rgb(202, 201, 201);
                border-radius: 25px;
                z-index: 100;
                #template_title{
                    text-align: center;
                }
                .template_object_block{
                    position: relative;
                    top: 10%;
                    left: 5%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    .template_p_descr{
                        position: relative;
                        font-size: .6em;
                        left: 10%;
                        padding-top: 10px;
                    }
                    .t_p_s_describe{
                        border:2px solid black;
                        font-size: .5em!important;
                        &::first-letter{
                            text-transform: uppercase;
                        }
                    }
                }
                .template_submit_button{
                    cursor: pointer;
                    position: relative;
                    left: 43%;
                    top: 25%;
                    padding: 15px 25px;
                    font-size: 1em;
                    background: #fff;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    &:hover{
                        animation: submit_button 8000ms infinite;
                    }
                    &:active{
                        transform: translateY(15px);
                    }
                }
            }
            .search_field{
                width: 100%;
                position: relative;
                top: 25vh;
                #search_field_input{
                    width: 30%;
                    height: 30px;
                    position: relative;
                    left: 35%;
                    background:transparent;
                    border-bottom: 2px solid #fff;
                    outline: none;
                    border-top:none;
                    border-left:none;
                    border-radius: 5px;
                    border-right:none;
                    color:#fff;
                    &:focus{
                        border-bottom:4px solid rgb(248, 164, 188)!important;
                        box-shadow: 
                        0 10px 15px 1px rgb(255, 173, 196),
                        0 15px 15px 1px rgba(247, 40, 98, 1);
                    }
                }
                
                #search_field_btn{
                    cursor: pointer;
                    width: 60px;
                    height: 25px;
                    position: relative;
                    left: 36%;
                    top: 5px;
                    color: #fff;
                    font-size: 2em;
                    font-weight: 400;
                    background: transparent;
                    border:none;
                    z-index: 2;
                    outline: none;
                    // animation: glitch 2000ms infinite;
                    // text-shadow: 
                    //     .1em 0 0 rgb(255, 0, 0,.8),
                    //     0 -.1em 0 rgb(0, 255, 0,.8),
                    //     0 .1em 0 rgb(0, 0, 255,.8);
                    
                    &:active{
                        transform: translateY(5px);
                        color: #f72862;
                    }
                    span{
                        position: absolute;
                        left: 0;
                        top: 0px;
                        
                    }
                    & span:first-child{
                        clip-path: polygon(0 0,100% 0, 100% 60%,0 60%);
                        transform: translate(-.045em,-.035em);
                        animation: glitch 650ms infinite;
                    }
                    & span:last-child{
                        clip-path: polygon(0 60%,100% 60%, 100% 100%,0 100%);
                        transform: translate(.045em,.035em);
                        animation: glitch_down 350ms infinite;
                    }                
                }
            }
            .seaching_results{
                font-family: sans-serif;
                position: absolute;
                display: none;
                top: 60%;
                left: 35%;
                border-radius: 15px;
                background: #fff;
                width: 30vw;
                height: 20vh;
                overflow: hidden;
                overflow-y: scroll;
                .sub_seach_res{
                    text-align: center;
                    border: 2px solid #a6a6a6;
                    color: #000;
                    a{
                        font-size: 2em;
                        text-decoration: none;
                        p{
                            color: #000;
                        }
                    }
                }
            }
        }
        .footer{
            width: 100%;
            height: 10vh;
            position: relative;
            .error{
                position: relative;
                display: none;
                left: 10%;
                width: 300px;
                // opacity: 0;
                #error_mode{
                    top: 0px;
                    position: relative;
                    filter: drop-shadow(0px 0px 20px rgb(231, 63, 63));
                    transform:translateY(-45px);
                    animation:error_mode 2000ms infinite;
                    
                    #path1{                
                        stroke:red;
                        animation: glitch_error 650ms infinite;
                        
                    }
                    #path2{
                        fill:red;
                        animation: glitch_error 650ms infinite;
                    }
                    #line1{
                        stroke: #fff;
                        animation:stroke_color_err 600ms infinite;
                    }
                    #circle1{
                        fill: #fff;
                        animation:stroke_color_err 600ms infinite;
                    }
                }
                #error_txt{
                    position: relative;
                    left: 40%;
                    top: -6vh;
                    color: #fff;
                    font: 400;
                    font-size: 2em;
                    animation:error_mode 2000ms infinite;
                    & span{
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    & span:first-child{
                        clip-path: polygon(0 0,100% 0, 100% 60%,0 60%);
                        transform: translate(-.045em,-.035em);
                        animation: glitch_error 650ms infinite;
                    }
                    & span:last-child{
                        clip-path: polygon(0 60%,100% 60%, 100% 100%,0 100%);
                        transform: translate(.045em,.035em);
                        animation: glitch_err_down 350ms infinite;
                    }
                }
            }
        }
    }
}
@keyframes error_mode{
    0%{
        transform:translateY(-25px);
    }
    20%{
        transform:translateY(0px);
        
    }
    50%{
        transform:translateY(-5px);
    }
    100%{
        transform:translateY(-15px);
    }
}
@keyframes stroke_color_err{
    0%{
        stroke: #fff;
        fill:#fff;
    }
    50%{
        stroke:red;
        fill:red;
    }
    100%{
        stroke:black;
        fill:black;
    }
}
@keyframes glitch{
0%{
    text-shadow: 
    .1em 0 0 rgb(255, 0, 0,.8),
    .04em -.03em 0 rgb(0, 255, 0,.8),
    -.04em -.04em 0 rgb(0, 0, 255,.8);
    clip-path: polygon(0 0,100% 0, 100% 60%,0 60%);
    transform: translate(-.085em,-.065em);          
}
15%{
    text-shadow: 
    0 0 0 rgb(255, 0, 0,.8),
    0 0 0 rgb(0, 255, 0,.8),
    0 0 0 rgb(0, 0, 255,.8);
    clip-path: polygon(0 0,100% 0, 100% 60%,0 60%);
    transform: translate(.085em,.075em);   
}
50%{
    text-shadow: 
    .046em .042em 0 rgb(255, 0, 0,.8),
    -.047em -.045em 0 rgb(0, 255, 0,.8),
    -.039em .01em 0 rgb(0, 0, 255,.8);
    clip-path: polygon(0 0,100% 0, 100% 60%,0 60%);
    transform: translate(-.005em,-.025em);   
}
100%{
    text-shadow: 
    0 -.045em 0 rgb(255, 0, 0,.8),
    .036em -.026em 0 rgb(0, 255, 0,.8),
    .045em -.032em 0 rgb(0, 0, 255,.8);
    clip-path: polygon(0 0,100% 0, 100% 60%,0 60%);
    transform: translate(.015em,.055em);   
}
}

#search_field{
    height: 5px;
}

.logo-svg-path{
    width: 25px;
    animation: turn-first 5s ease infinite;
}
.svg_logo{
    position: absolute;
    animation: show_hide 6000ms infinite;
    transition: 2s;
}


.active_btn_nav{
    background-image: url('../svg/svg_back.svg');
    background-size: 100%;
    background-color:transparent;
    border:none;
    background-repeat: no-repeat;
}
.activ_span{
    background: transparent!important;
    transition: .1s!important;
}
.activ_btn_span_top{
    transform: rotate(45deg);
    top: 22px!important;
    transition: 1s!important;
}
.activ_btn_span_bottom{
    transform: rotate(-45deg);
    top: 22px!important;
    transition: 1s!important;
}
.header__navigation{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    left: -100vw;
    // background: url('../svg/cyberpunk-2077-minimal-4k-4b-2560x1440.jpg');
    background: rgb(23,23,23);
    z-index: 20;
    transition: 2s;
    .header__navigation__left_block{
        width: 50vw;
        // background: url('../assets/gif/francois-hoang-MFYlCoSm-0o-unsplash.jpg');
        // background: url('../svg/cyberpunk-2077-minimal-4k-4b-2560x1440.jpg');
        background: url('../svg/back_nav.jpg');
        background-color: rgb(73, 73, 73);
        // background: rgb(211, 210, 210);
        background-size: 50%;
        background-position: 15% 90%;
        background-repeat: no-repeat;
        overflow: hidden;
        .nav_tab{
            display: block;
            width: 50vw;
        }
        .nav_errmessage{

        }
        .nav_settings{

        }
        .sub__menu_block{
            position: relative;
            top: 20%;
            left: 30%;
            ul{
                li{
                    list-style: none;
                    width: 25vw;
                    height: 150px;
                    background-size:contain;
                    background-repeat: no-repeat;
                    color:#e4e4e4;
                    .nav_li_p{
                        cursor: pointer;
                        font-weight: bold;
                        position: relative;
                        top: 40px;
                        left: 1.2vw;
                        text-decoration: none;
                        font-size: 2.2em;
                        font-family: 'Times New Roman', Times, serif;
                        animation: navAnim 6000ms infinite;
                    }
                    // & span{
                    //     position: absolute;
                    //     left: 0;
                    //     top: 0;
                    // }
                    // & span:first-child{
                    //     color: #fff;
                    //     clip-path: polygon(0 0,100% 0, 100% 60%,0 60%);
                    //     transform: translate(-.045em,-.035em);
                    //     animation: glitch_error 650ms infinite;
                    // }
                    // & span:last-child{
                    //     color: #fff;
                    //     clip-path: polygon(0 60%,100% 60%, 100% 100%,0 100%);
                    //     transform: translate(.045em,.035em);
                    //     animation: glitch_err_down 350ms infinite;
                    // }
                }
                .nav_li:hover{
                    color:#bb7900!important;
                    background-size:contain;
                    background-repeat: no-repeat;
                    transition: 1s;
                    
                }

            }
        }
    }
    .header__navigation__right_block{
        width: 50vw;
        .widget {
            font-family: sans-serif;
            &__top_container{
                position: relative;
                top: 15vh;
                display: flex;
                flex-direction: row;
                .icon {
                    position: absolute;
                    left: 5vw;
                    width: 5vw;
                    height: 10vh;
                    border-radius: 10px;
                    background: #017fdd;
                    z-index: 80;
                    .icon_svg{
                        position: absolute;
                        width: 5vw;
                        height: 10vh;
                        background-size: cover;
                        background-position: center;
                        z-index: 100;
                        #weather_status{
                            position: relative;
                            width: 50%;
                            top: 25%;
                            left: 25%;
                            animation:Weather_icon_animation 2500ms infinite ;
                            
                        }
                    }
                }
                .timeNow {
                    position: absolute;
                    right: 5vw;
                    color: #fff;
                    width: 15vw;
                    height: 10vh;
                    font-size: 2em;
                }
            }
            &__container {
                position: relative;
                top: 25vh;
                .location {
                    position: relative;
                    top: 6vh;
                    left: 5vw;
                    width: 20vw;
                    height: 10vh;
                    font-size: 1em;
                    color: #fff;
                }
                .temperature {
                    position: relative;
                    top: 6vh;
                    left: 5vw;
                    color: #fff;
                    width: 20vw;
                    height: 10vh;
                    font-size: 2.6em;
                }
                .date {
                    position: relative;
                    top: 2vh;
                    left: 5vw;
                    width: 20vw;
                    height: 10vh;
                    font-size: 1em;
                    color: #fff;
                }
            }
            &__bottom_container {
                position: relative;
                top: 30vh;
                .weather_describe{
                    position: relative;
                    left: 5vw;
                    width: 20vw;
                    height: 10vh;
                    color: #fff;
                    font-size: 1.8em;
                    &::first-letter {
                        text-transform: uppercase;
                    }
                }
                .weather_background{
                    display: block;
                    position: absolute;
                    color: #fff;
                    right: 0;
                    bottom: 0;
                    width: 35vw;
                    height: 30vh;
                    overflow: hidden;
                }
            }
        }
    }
}
.show{
    // display: block;
    transition: 2s;
    left: 0;
    animation: moveMenu 2000ms ease;
}
@keyframes show_hide{
    0%{
        opacity: 0;
        
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: .5;
    }
}
@keyframes glitch_error{
    0%{
        // text-shadow: 
        // .1em 0 0 rgba(255, 103, 209, 0.8),
        // .04em -.03em 0 rgba(175, 255, 99, 0.8),
        // -.04em -.04em 0 rgba(57, 192, 255, 0.8);
        clip-path: polygon(0 0,100% 0, 100% 60%,0 60%),
        polygon(0 60%,100% 60%, 100% 100%,0 100%);
        transform: translate(-.085em,-.065em);          
    }
    15%{
        // text-shadow: 
        // 0 0 0  rgba(255, 103, 209, 0.8),
        // 0 0 0 rgba(175, 255, 99, 0.8),
        // 0 0 0 rgba(57, 192, 255, 0.8);
        clip-path: polygon(0 0,100% 0, 100% 60%,0 60%),
        polygon(0 60%,100% 60%, 100% 100%,0 100%);
        transform: translate(.085em,.075em);   
    }
    50%{
        // text-shadow: 
        // .046em .042em 0  rgba(255, 103, 209, 0.8),
        // -.047em -.045em 0 rgba(175, 255, 99, 0.8),
        // -.039em .01em 0 rgba(57, 192, 255, 0.8);
        clip-path: polygon(0 0,100% 0, 100% 60%,0 60%),
        polygon(0 60%,100% 60%, 100% 100%,0 100%);
        transform: translate(-.005em,-.025em);   
    }
    100%{
        // text-shadow: 
        // 0 -.045em 0  rgba(255, 103, 209, 0.8),
        // .036em -.026em 0 rgba(175, 255, 99, 0.8),
        // .045em -.032em 0 rgba(57, 192, 255, 0.8);
        clip-path: polygon(0 0,100% 0, 100% 60%,0 60%),
        polygon(0 60%,100% 60%, 100% 100%,0 100%);
        transform: translate(.015em,.055em);   
    }
    }
    @keyframes glitch_err_down{
        0%{
            clip-path: polygon(0 60%,100% 60%, 100% 100%,0 100%),
            polygon(0 80%,100% 80%, 100% 100%,0 100%);
            transform: translate(.025em,.035em);    
        }
        15%{
            
            clip-path: polygon(0 60%,100% 60%, 100% 100%,0 100%),
            polygon(0 80%,100% 80%, 100% 100%,0 100%);
            transform: translate(-.045em,-.015em);   
        }
        50%{      
            clip-path: polygon(0 60%,100% 60%, 100% 100%,0 100%),
            polygon(0 80%,100% 80%, 100% 100%,0 100%);
            transform: translate(.025em,.015em);   
        }
        100%{
            clip-path: polygon(0 80%,100% 80%, 100% 100%,0 100%),
            polygon(0 60%,100% 60%, 100% 100%,0 100%);
            transform: translate(-.035em,-.025em);   
        }
    }
.new_back_tangl{
    position: absolute;
    display: block;
    background: url('../svg/back_body.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    animation:raller 2000ms infinite ;
    transition: 2s;
}
@keyframes raller{
    0%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(120deg);
        transform: translateX(15px);
        transform: translateY(-5px);
    }
    100%{
        transform: rotate(320deg);
    }
}
@keyframes moveMenu{
    0%{
        display: none;
        left: -100vw;
    }
    // 50%{
    //     left: -50vw;
    // }
    100%{
        display: block;
        left: 0;
    }
}
@keyframes menuHide{
    0%{
        display: block;
        left: 0;
    }
    // 50%{
    //     left: -50vw;
    // }
    100%{
        display: none;
        left: -100vw;
    }
}
@keyframes glitch_down{
    0%{
        clip-path: polygon(0 60%,100% 60%, 100% 100%,0 100%);
        transform: translate(.045em,.065em);    
    }
    15%{
        
        clip-path: polygon(0 60%,100% 60%, 100% 100%,0 100%);
        transform: translate(-.085em,-.025em);   
    }
    50%{      
        clip-path: polygon(0 60%,100% 60%, 100% 100%,0 100%);
        transform: translate(.005em,.025em);   
    }
    100%{
        clip-path: polygon(0 60%,100% 60%, 100% 100%,0 100%);
        transform: translate(-.015em,-.055em);   
    }
}
.hide{
    display: block;
    animation: menuHide 2000ms ease;
}

#snow_icon{
animation: snow_icon 4000ms infinite;
}
.snow{
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background: url(../svg/snow_icon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    left: 0;
    top: 0;
    animation: snow_fall 14000ms infinite;
}
#storm_icon{
width: 45px;
height: 45px;
}
#sun_icon{
    width: 45px;
    height: 45px;
}
#rain_icon{
    width: 45px;
    height: 45px;
}
#cloudy_icon{
    width: 120px;
    height: 120px;
}


@keyframes snow_fall{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(32vh);
    }
}

#p_left_g{
    position: absolute;
    transform-origin: center;
    //animation: rotate 10000ms infinite;
}
@keyframes rotate{
    0%{
        transform:rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes navAnim{
    0%{
        text-shadow: 
        .1em 0 0 rgb(255, 0, 0,.8),
        .04em -.03em 0 rgb(0, 255, 0,.8),
        -.04em -.04em 0 rgb(0, 0, 255,.8);
    }
    15%{
        text-shadow: 
        0 0 0 rgb(255, 0, 0,.8),
        0 0 0 rgb(0, 255, 0,.8),
        0 0 0 rgb(0, 0, 255,.8);
    }
    50%{
        text-shadow: 
        .046em .042em 0 rgb(255, 0, 0,.8),
        -.047em -.045em 0 rgb(0, 255, 0,.8),
        -.039em .01em 0 rgb(0, 0, 255,.8);
    }
    100%{
        text-shadow: 
        0 -.045em 0 rgb(255, 0, 0,.8),
        .036em -.026em 0 rgb(0, 255, 0,.8),
        .045em -.032em 0 rgb(0, 0, 255,.8);
    }
}

.sunBackGround {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: linear-gradient(to top left,#e70e0e ,#740909);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 5;
    animation: sunLight 22000ms infinite;

}
@keyframes sunLight {
    0%{
        transform: rotate(0deg);
        box-shadow: 0 0 10px #ff0000;
    }
    50%{
        transform: rotate(360deg);
        box-shadow: 0 0 160px #ca0000;
    }
    100%{
        box-shadow: 0 0 10px #ff0000;
    }
}
@keyframes Weather_icon_animation {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-5px);
    }
}
::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}
@keyframes submit_button {
    0%{
        transform: translateY(-6px);
        box-shadow: 0px 2px 40px rgb(193, 197, 199);
    }
    20%{
        transform: translateY(-4px);
        box-shadow: 0px 4px 40px rgb(155, 199, 158);
    }
    40%{
        transform: translateY(-2px);
        box-shadow: 0px 6px 40px rgb(241, 213, 134);
    }
    60%{
        transform: translateY(0px);
        box-shadow: 0px 8px 40px rgb(155, 199, 158);
    }
    80%{
        transform: translateY(-2px);
        box-shadow: 0px 10px 40px rgb(155, 199, 158);
    }
    100%{
        transform: translateY(-4px);
        box-shadow: 0px 6px 40px rgb(207, 138, 98);
    }
}